:root {
    /*color*/
    --pupule-color: #37197D;
    --yellow-color: #FAD200;
    --grey-color: #D9D9D9;
    --beige-color: #F9F3E9
        /*Size*/

        /*Font Size*/
}

* {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'NotoSansKR-Bold', sans-serif;
    font-size: 4.375rem;
}

h3 {
    font-family: 'NotoSansKR-SemiBold', sans-serif;
    font-size: 3.625rem;
}

a {
    font-family: 'NotoSansKR-Bold', sans-serif;
    color: #fff;
    text-decoration: none;
}

img {
    margin: 0;
    padding: 0;
}

input {
    outline: none;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #12121268;
    z-index: 9999;
    font-family: 'NotoSansKR-SemiBold', sans-serif;

}

.line-break {
    display: block;
}


.area {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    box-sizing: border-box;
    height: 80px;
}

.logo_area {
    width: 120px;
    height: 50px;
}

.logo_area img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.menu_area .main_menu {
    display: flex;
    position: relative;
}

.menu_area .main_menu li {
    position: relative;
    width: 150px;
}

.menu_area .main_menu li .submenu p {
    position: relative;
    width: 175px;
}

.menu_area .main_menu li a {
    font-size: 17px;
}


/* 서브 메뉴 스타일 */
.menu_area .main_menu .submenu {
    padding-top: 15px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    color: #fff;
    display: none;

}

.menu_area .main_menu li:hover .submenu {
    display: block;
}

.menu_area .main_menu .submenu p {
    margin: 0;
    padding: 8px 10px;
    cursor: pointer;
    background-color: #12121268;
}

.menu_area .main_menu li p:hover {
    color: #37197D;
}

.menu_icon {
    display: none;
}

.menu_full {
    display: none;
}

.slider_box {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slider_warp {
    display: flex;
    width: 400%;
    height: 100%;
}

.slider {
    position: relative;
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
    /* 슬라이드가 줄어들지 않도록 */
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 이미지가 컨테이너에 맞게 조정 */
}

.title-txt {
    position: absolute;
    top: 40%;
    left: 10%;
    color: #fff;
    z-index: 999;

}

.title-txt h2 {
    margin-bottom: 25px;
}

.title-txt p:nth-child(2) {
    font-family: 'NotoSansKR-Regular', sans-serif;
    font-size: 18px;
}

.circles {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    display: flex;

}

.circle {
    width: 18px;
    height: 18px;
    background-color: #ffffff3e;
    border-radius: 50%;
    margin: 10px;
}

.guide {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--pupule-color);
    width: 100%;
    z-index: -99;
    overflow: hidden;
}

.guide .img-box img {
    filter: brightness(0.9);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.step {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 80px;
    box-sizing: border-box;
    overflow: hidden;
}

.step p:nth-child(2) {
    font-family: 'NotoSansKR-Bold', sans-serif;
    font-size: 35px;
}

.list {
    width: 100%;
    overflow: hidden;
    z-index: 999;
}

.blind {
    display: flex;
    width: 100%;
    z-index: 999;
    height: 924px;
    color: #fff;
}

.blind>li {
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    overflow: hidden;
    position: relative;
    z-index: 999;
}

.blind>li>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    z-index: -999;
    filter: brightness(0.5);
    transition: 0.5s linear;
    position: absolute;
    top: 0;
    left: 0;
}

.blind li h2,
.blind li h3,
.blind li ul li {
    transition: 0.5s linear;
    transition-delay: 0.3s;
    opacity: 0;
}

.blind li p h2 {
    font-family: 'NotoSansKR-Light', sans-serif;
    font-size: 48px;
    text-align: center;
    width: 640px;
}

.blind li h3 {}

.blind li ul li {
    font-family: 'NotoSansKR-Medium', sans-serif;
    font-size: 19px;
    padding: 2px;
}

.blind>li:hover img {
    filter: brightness(0.8);
}

.blind>li:hover span,
.blind>li:hover h3,
.blind>li:hover ul li {
    opacity: 1;
}

.blind>li {
    flex: 1;
}

.blind>li:hover {
    flex: 1.5;
}

.customer {
    height: 100%;
    width: 100%;
    background-color: var(--beige-color);
    position: relative;
}

.customer2 {
    display: none;
}

.benefits {
    background-color: var(--pupule-color);
    width: 40%;
    height: 515px;
    color: #fff;
    position: relative;
}

.benefits_box {
    padding: 100px;
    box-sizing: border-box;
}

.benefits_box>span {
    font-family: 'NotoSansKR-Light', sans-serif;
    font-size: 20px;
    display: block;
}

.benefits_box p {
    font-family: 'BakbakOne-Regular', sans-serif;
}

.benefits_box p:nth-of-type(1) {
    font-size: 20px;
}

.plus {
    position: absolute;
    bottom: 15%;
    right: 15%;
    display: block;
}

.plus::before {
    position: absolute;
    content: '';
    width: 50px;
    height: 3px;
    background-color: #fff;
}

.plus::after {
    position: absolute;
    content: '';
    width: 50px;
    height: 3px;
    background-color: #fff;
    transform: rotate(90deg);
}

.search {
    width: 60%;
    height: 282px;
    background-color: var(--pupule-color);
    position: absolute;
    top: -110px;
    right: 0;
    z-index: 999;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    box-sizing: border-box;

}

.search label {
    font-family: 'NotoSansKR-SemiBold', sans-serif;
    font-size: 32px;
    color: #fff;
    width: 100%;
    display: inline-block;
}

.search .fa-magnifying-glass {
    font-size: 32px;
    color: #fff;
}

.search input[type=search] {
    width: 80%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    height: 40px;
}

.search input:focus {
    color: #fff;
    font-size: 32px;
}

.talk {
    width: 40%;
    height: 33.5938vw;
    overflow: hidden;
}

.talk .img-box {
    width: 100%;
    height: 100%;
    position: relative;
}

.talk .img-box img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.question {
    position: absolute;
    top: 25%;
    left: 45%;
}

.question h3 {
    padding-bottom: 10px;
}

.question p {
    font-family: 'NotoSansKR-Light', sans-serif;
    font-size: 20px;
    color: #666;
}

.question form {
    max-width: 720px;
    width: 100%;
    font-family: 'NotoSansKR-Regular', sans-serif;
    font-size: 20px;
    color: #666;
    display: flex;
    flex-direction: column;
}

.question .infomation label {
    padding: 10px 0;
}

.question .infomation input {
    width: 700px;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-family: 'NotoSansKR-Regular', sans-serif;
    font-size: 18px;
    color: #666;
}

.question .infomation #textarea {
    width: 700px;
    padding: 40px 0;
    font-family: 'NotoSansKR-Regular', sans-serif;
    font-size: 18px;
    color: #666;
}

.question .infomation input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #666;
    height: 40px;
}

.send {
    width: 220px;
    height: 58px;
    background-color: var(--pupule-color);
    border-radius: 50px;
    font-family: 'NotoSansKR-Bold', sans-serif;
    text-align: center;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    margin: auto;
    margin-top: 25px;
}

.send:hover {
    color: #FAD200;
}

.closing-remarks {
    width: 100%;
    height: 100%;
    position: relative;
    margin-bottom: 0;
}

.closing-remarks img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: top;
}

.closing-remarks::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(55, 25, 125, 1) 0%, rgba(163, 74, 74, 0.5354516806722689) 35%);
    mix-blend-mode: multiply;
    background-size: cover;
    opacity: 0.75;

}

.closing-remarks .txt {
    font-family: 'NotoSansKR-Regular', sans-serif;
    position: absolute;
    top: 5%;
    left: 5%;
    color: #fff;
}

.closing-remarks .txt h3 {
    font-family: 'NotoSansKR-Bold', sans-serif;
    font-size: 48px;
    padding-bottom: 50px;
}

.closing-remarks .txt p {
    font-size: 24px;
}

.sentence {
    padding-top: 35px;
}

.owner {
    padding-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'NotoSansKR-SemiBold', sans-serif;
    font-size: 18px;
}

.owner span:nth-child(2) {
    font-family: '나눔손글씨-딸에게-엄마가', sans-serif;
    font-size: 85px;
}

footer {
    width: 100%;
    background-color: var(--pupule-color);
    padding: 30px 100px;
    box-sizing: border-box;
}

.foot {
    display: none;
}

.legal-documents {
    font-family: 'NotoSansKR-Bold', sans-serif;
    padding-top: 20px;
}

.legal-documents a {
    font-size: 18px;
    margin-right: 40px;
    position: relative;
}

.legal-documents a:nth-child(1):after,
.legal-documents a:nth-child(2):after {
    position: absolute;
    content: '';
    top: 5px;
    right: -20px;
    width: 2px;
    height: 18px;
    background-color: #fff;
}


.contact-information {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.contact-information li a {
    font-family: 'NotoSansKR-Medium', sans-serif;
    font-size: 18px;
    color: #fff;
    padding-bottom: 15px;
}

.contact-information li p {
    font-family: 'BakbakOne-Regular', sans-serif;
    color: var(--yellow-color);
    font-size: 32px;
    margin: 0;
}

.contact-information li:nth-child(3) p {
    font-size: 18px;
}

@media screen and (max-width : 1400px) {
    h2 {
        font-size: 3.75rem;
    }

    h3 {
        font-size: 3.05rem;
    }


    .benefits_box {
        padding: 60px;
    }

    .question .infomation input {
        width: 510px;
        height: 25px;
    }

    .question .infomation #textarea {
        width: 510px;
        padding: 20px 0;
        color: #666;
    }

    .closing-remarks .txt h3 {
        font-size: 1.875rem;
        padding-bottom: 30px;
    }

    .closing-remarks .txt p {
        font-size: 18px;
    }

    .sentence {
        padding-top: 15px;
    }

    .owner {
        padding-top: 20px;
    }

    .owner span:nth-child(2) {
        font-size: 65px;
    }

    .contact-information li p {
        font-size: 21px;
    }
}


@media screen and (max-width : 1024px) {
    h2 {
        font-size: 2.8125rem
    }

    h3 {
        font-size: 2.1875rem;
    }

    header .menu_area {
        display: none;
    }

    header .menu_icon {
        display: block;
        color: #fff;
        font-size: 32px;
    }

    .menu_full {
        display: none;
        background-color: #37197D;
        color: #fff;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }

    .menu_full .control {
        max-width: 1024px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 50px;
        box-sizing: border-box;
        height: 80px;
    }

    .menu_full .control {
        font-size: 32px;
    }

    .menu_full .control .log_img {
        width: 120px;
        height: 50px;
    }

    .control .log_img img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .menu_full .list {
        padding: 10px 50px;
    }

    .menu_full .list li {
        font-size: 21px;
        padding: 10px 0;
    }

    .menu_full .list li:hover {
        color: #FAD200;
    }







    .step p:nth-child(2) {
        font-size: 24px;
    }

    .blind li ul li {
        font-size: 17px;
    }

    .benefits {
        height: 405px;
    }

    .benefits_box {
        padding: 40px;
    }

    .benefits_box p:nth-of-type(1) {
        font-size: 18px;
    }

    .plus {
        bottom: 20%;
        right: 20%;
    }

    .search {
        width: 60%;
        height: 242px;
        background-color: var(--pupule-color);
        position: absolute;
        top: -120px;
    }

    .search .fa-magnifying-glass {
        font-size: 28px;
    }

    .question .infomation label {
        font-size: 16px;
        padding: 5px 0;
    }

    .question .infomation input {
        width: 410px;
        height: 15px;
    }

    .question .infomation #textarea {
        width: 410px;
        padding: 10px 0;
    }

    .send {
        width: 150px;
        height: 50px;
        font-size: 16px;
        margin-top: 10px;
    }

    .closing-remarks .txt h3 {
        padding-bottom: 15px;
    }

    .closing-remarks .txt p {
        font-size: 15px;
    }

    .owner {
        padding-top: 10px;
    }

    .contact-information {
        padding-top: 20px;
    }

    .legal-documents a {
        font-size: 16px;
    }

    .contact-information li p {
        font-size: 14px;
    }

    .contact-information li:nth-child(3) p {
        font-size: 16px;
    }

}

@media screen and (max-width : 768px) {
    .guide {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        background-color: var(--pupule-color);
        width: 100%;
        z-index: -99;
        overflow: hidden;
    }

    .blind {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        color: #fff;
    }

    .blind>li {
        flex: none;
        width: 50%;
    }

    .blind>li:hover {
        flex: none;
    }

    .customer {
        display: flex;
        flex-wrap: wrap;
    }

    .benefits {
        width: 50%;
        height: auto;
    }

    .benefits_box {
        padding: 30px;
    }

    .benefits_box p:nth-of-type(1) {
        font-size: 16px;
    }

    .benefits_box p .line-break {
        display: inline;
    }

    .plus::before {
        width: 40px;
        height: 2px;
    }

    .plus::after {
        width: 40px;
        height: 2px;
    }

    .search {
        width: 50%;
        height: 242px;
        background-color: var(--pupule-color);
        position: relative;
        top: 0;
        padding: 10px;
        box-sizing: border-box;
    }

    .question {
        position: absolute;
        top: 25%;
        left: 45%;
    }

    .talk {
        width: 100%;
        height: 500px;
        display: flex;
    }

    .talk .img-box {
        flex: 1;
    }

    .talk .question {
        flex: 4;
        position: relative;
        top: 5%;
        left: 5%;
    }

    .question form {
        width: 80%;
        font-family: 'NotoSansKR-Regular', sans-serif;
        font-size: 20px;
        color: #666;
        display: flex;
        flex-direction: column;
    }

    .question .infomation #textarea {
        width: 100%;
        padding: 10px 30px;
        box-sizing: border-box;
    }

    .question .infomation input {
        width: 100%;
        padding: 10px 30px;
        height: 10px;
        box-sizing: border-box;
    }

    .closing-remarks {
        min-height: 690px;
        height: 100%;
        position: relative;
        margin-bottom: 0;
    }

    .closing-remarks img {
        object-fit: cover;
        width: 100%;
        height: 690px;
        vertical-align: top;
    }

    .closing-remarks .txt h3 {
        font-size: 1.5rem;
        padding-bottom: 20px;
    }

    .owner span:nth-child(2) {
        font-size: 52px;
    }

    footer {
        width: 100%;
        background-color: var(--pupule-color);
        padding: 30px 40px;
        box-sizing: border-box;
    }

    .legal-documents a {
        font-size: 14px;
    }

    .contact-information li:nth-child(4) {
        display: none;
    }

}

@media screen and (max-width : 480px) {
    h3 {
        font-size: 1.5rem;
    }

    .blind {
        overflow: hidden;
    }

    .blind li ul li {
        font-size: 14px;
    }

    .plus::before {
        width: 30px;
        height: 2px;
    }

    .plus::after {
        width: 30px;
        height: 2px;
    }

    .search label {
        font-size: 24px;
    }

    .search input[type=search] {
        width: 75%;
        height: 35px;
    }

    .search .fa-magnifying-glass {
        font-size: 21px;
    }

    .closing-remarks .txt {
        font-family: 'NotoSansKR-Regular', sans-serif;
        position: absolute;
        top: 7%;
        left: 8%;
        color: #fff;
    }

    footer {
        padding: 30px 15px;
    }

    .contact-information li:nth-child(3) {
        display: none;
    }

}
