@charset "utf-8";
/* 커서 */
/*커스텀 커서 시작==========*/
body{
    cursor: none;
}
.custom-cursor {
    width: 2rem;
    height: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    pointer-events: none;
    opacity: 0;
    background-color: #2af563;
    /*사용자 수정*/
    backface-visibility: hidden;
    transition: none;
    /*사용자 수정*/
    pointer-events: none;
    border-radius: 50%;
    transform: scale(1)
}

.custom-cursor-icon {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #2af563;
    /*사용자 수정*/
    transition: all .2s ease;
    transform-origin: 50% 50%;
}

.custom-cursor.custom_cursor_visible {
    opacity: 1;
}

.custom-cursor.custom_cursor_hidden {
    opacity: 0;
}

@media (pointer:none),
(pointer:coarse) {

    #custom_cursor,
    #custom_cursor .custom-cursor-icon {
        display: none !important;
        visibility: hidden;
        opacity: 0;
    }

    * {
        cursor: auto !important;
    }
}

@media (max-width:767.98px) {
    .custom-cursor {
        display: none;
    }
}

.custom-cursor.custom_cursor_hover .custom-cursor-icon {
    transform: scale(1.6);
}

/*커스텀 커서 끝==========*/