@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', 'Arial', 'Helvetica', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

h2 {
    font-size: 5.5rem;
    text-transform: uppercase;
    font-weight: 900;

}

.btn {
    border: none;
    padding: 15px 100px;
    margin: 10px 4px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display: inline-block;
    border: solid #000 1px;

}

/* .btn {
    width: 222px;
    height: 42px;
    border: solid #000 1px;
    border-radius: 50px;
    text-align: center;
    line-height: 42px;
    font-size: 17px;
    font-weight: 500;
    margin: 50px auto;
    text-transform: uppercase;
} */
.btn::before {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: inset 0px 0px 0px #6098FF;
    display: block;
    -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
}

/* if you want it to show from the right use -300px instead */
.btn:hover::before {
    box-shadow: inset 300px 0px 0px #6098FF;
}

.arrow {
    width: 320px;
    height: 320px;
    border: 1px solid #666666;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow .img_box {
    width: 200px;
    height: 200px;
}

.arrow .img_box img {
    width: 100%;
    height: 100%;
}

header {
    max-width: 1920px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
}

header .logo_box {
    width: 80px;
    height: 80px;
}

header .logo_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header .gnb_warp {
    display: flex;
}

header .gnb_warp>li {
    position: relative;
    padding: 20px 70px;
    text-align: center;
}

.gnb_warp>li>ul {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    height: 250px;
    background-color: #c32841;
    z-index: 99;
    display: none;
}

.gnb_warp>li>ul>li {
    padding: 10px 0;
    z-index: 99;
}

.gnb_warp>li>ul>li:hover a {
    color: #ffffffa9;
}

.gnb_warp>li>ul>li>a {
    color: #fff;
}

header .lang {
    display: flex;
}

header .menu {
    display: flex;
    align-items: center;
}

header .menu .lang {
    margin: 0 20px;
}

header .menu .lang li {
    margin: 0 5px;
}

header .menu_btn {
    width: 38px;
    height: 38px;
    display: flex;
    flex-wrap: wrap;
    transition: 0.5s linear;
    cursor: pointer;
}

header .menu_wrap {
    width: 50vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -1000px;
    background-color: #6098ffef;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in;
}

header .menu_wrap ul li {
    text-align: center;
    padding: 20px;
}

header .menu_wrap ul li a {
    color: #fff;
    font-weight: 700;
    font-size: 50px;
}

header .menu_wrap ul li:hover a {
    color: #333333b9;
}

header .menu_wrap .close {
    position: absolute;
    top: 20px;
    right: 40px;
}

header .menu_wrap .close .img_box {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

header .menu_wrap .close .img_box img {
    width: 100%;
    height: 100%;
    filter: brightness(0) invert(1);
}

.menu_btn:hover {
    transform: rotate(180deg);
}

.menu_btn .square {
    width: 15px;
    height: 15px;
    background-color: #333;
    margin: 2px;
    box-sizing: border-box;
}


.intro {
    max-width: 1400px;
    width: 100%;
    padding-top: 100px;
    height: 100vh;
    margin: auto;
    text-transform: uppercase;
    position: relative;
}

.intro .part {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.intro div .trapezoid {
    width: 43vw;
    transform: skew(-30deg);
    background-color: #333;
    height: 130px;
    margin: 0 40px;
    overflow: hidden;
    position: relative;
}

.intro div:nth-child(1) .trapezoid {
    width: 30vw;
}

.intro div .trapezoid::after {
    position: absolute;
    content: "";
    top: 0;
    height: inherit;
    z-index: 9;
}

.intro .part1 {
    padding-top: 40px;
}

.intro .part1 .trapezoid::after {
    right: 0;
    width: 80px;
    background-color: #0070CD;
}

.intro .part2 .trapezoid::after {
    left: 0;
    width: 70px;
    background-color: #EB0028;
    z-index: 9;
}

.intro .part3 .trapezoid::after {
    right: 0;
    width: 50px;
    background-color: #FFC627;
}

.intro span {
    display: inline-block;
    font-weight: 900;
    font-size: 168px;
}

.intro div .trapezoid .video_container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.intro div .trapezoid .video_container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro .part2 .trapezoid .video_container video {
    top: -20%;
}

.intro .part3 .trapezoid .video_container video {
    top: -30%;
}

.arrow {
    position: absolute;
    right: 0;
    bottom: 0;
}

.arrow .img_box {
    width: 80px;
    height: 80px;
}

.arrow .img_box img {
    width: 100%;
    height: 100%;
}

.get_it {
    overflow: hidden;
    padding-top: 70px;
    text-align: center;
}

.get_it .container {
    font-size: 150px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
}

.get_it .container .letter5,
.get_it .container .letter8 {
    padding-left: 40px;
}

.get_it p {
    margin: auto;
    text-align: center;
    width: 600px;
}

.get_it .btn {
    margin-top: 50px;
    margin-bottom: 100px;
}


.club {
    background-color: #222;
    color: #fff;
    padding-bottom: 50px;
}

.club .roller {
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
}

.club .roller .rolling {
    display: flex;
    width: calc(100% + 10px);
    animation: banner-animation 30s linear infinite;

}

.club .roller .rolling .img_box {
    width: 180px;
    height: 80px;
    margin: 0 30px;
    flex-shrink: 0;
}

.club .roller .rolling .img_box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@keyframes banner-animation {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-200px * 8 - 60px * 8));
    }
}

.club .head_club {
    padding: 0 40px;
}

.club .head_club h2 {
    margin: 0;
}

.club p {
    padding-left: 40px;
}

.club .swiper {
    padding-top: 100px;
}

.club .swiper .swiper-slide {
    display: flex;
    justify-content: center;
}

.club .swiper .swiper-slide img {
    transition: linear 0.2s;
    cursor: pointer;
}

.club .swiper .swiper-slide:hover>img {
    transform: scale(1.1);
}

.swiper .swiper-wrapper {
    margin-bottom: 40px;
}

.swiper-horizontal>.swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
    position: absolute;
    bottom: 0px;
}

.swiper-scrollbar {
    --swiper-scrollbar-bg-color: #ffffff2c;
}

.swiper-scrollbar-drag {
    --swiper-scrollbar-drag-bg-color: #ffffffa7;
}

.ourbusiness {
    max-width: 1920px;
    width: 100%;
    padding: 0 80px;
    box-sizing: border-box;
    margin-bottom: 150px;
    overflow: hidden;
}

.ourbusiness ul li {
    height: 210px;
    line-height: 210px;
    border-bottom: 1px solid #000000;
    font-size: 38px;
    font-weight: 700;
    transition: all .5s ease;
    position: relative;

}

.ourbusiness ul li:hover {
    height: 270px;
}

.ourbusiness ul li:hover p {
    opacity: 1;
}

.ourbusiness ul li .num {
    font-size: 17px;
    margin-right: 30px;
}

.ourbusiness ul li p {
    width: 300px;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    position: absolute;
    top: 66%;
    left: 4%;
    transition: 0.75s;
    opacity: 0;
}

.ourbusiness ul li .poster {
    width: 100%;
    opacity: 0;
    transition: transform .3s, opacity .3s;
    position: relative;
}

.ourbusiness ul li:hover .poster {
    opacity: 1;
    transform: translateY(-250px) scale(1.2);
}

.ourbusiness ul li .poster img {
    width: 15%;
    position: absolute;
    top: 0;
    opacity: 0;
    transform: scale(0);
    transition: opacity 5s, transform 5s;
}

.ourbusiness ul li:hover .poster img {
    transform: scale(1);
}

.ourbusiness ul li .poster img:nth-child(1) {
    /* 초기에 이미지 숨기기 */
    opacity: 0;
    transition: opacity 1s;
}

.ourbusiness ul li:hover .poster img:nth-child(1) {
    opacity: 1;
}

.ourbusiness ul li .poster img:nth-child(2) {
    opacity: 0;
    transition: opacity 3s;
}

.ourbusiness ul li:hover .poster img:nth-child(2) {
    opacity: 1;
}

.ourbusiness ul .item1 .poster img:nth-child(1) {
    top: -40%;
    right: 20%;
    transform: rotate(-15deg);
}

.ourbusiness ul .item1 .poster img:nth-child(2) {
    top: 25%;
    right: 7%;
    border-radius: 50%;
}

.ourbusiness ul .item2 .poster img:nth-child(1) {
    width: 25%;
    top: 10%;
    right: 20%;
    transform: rotate(-15deg);
}

.ourbusiness ul .item2 .poster img:nth-child(2) {
    top: 5%;
    right: 5%;
    transform: rotate(15deg);
}

.ourbusiness ul .item3 .poster img:nth-child(1) {
    top: 10%;
    right: 23%;
    z-index: 99;
}

.ourbusiness ul .item3 .poster img:nth-child(2) {
    width: 20%;
    top: 5%;
    right: 5%;
    transform: rotate(-25deg);
}

.ourbusiness ul .item4 .poster img:nth-child(1) {
    width: 30%;
    top: 5%;
    right: 20%;
    transform: rotate(15deg);
    border-radius: 50%;
    z-index: 99;
}

.ourbusiness ul .item4 .poster img:nth-child(2) {
    width: 25%;
    top: 25%;
    right: 5%;
    transform: rotate(-10deg);
    border-radius: 50%;
}

.youtube {
    color: #fff;
    background-color: #151515;
    box-sizing: border-box;
}

.youtube h2 {
    padding-left: 40px;
    padding-top: 15px;
}

.youtube .video {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
}

.youtube .video iframe {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 70%;
}

.shop {
    max-width: 1920px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
}

.shop h2 {
    margin-bottom: 0;
}

.shop .shop_name {
    flex: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 80px;
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    color: #fff;
    background: url(./images/back01.jpg), rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.5s linear;
}

.shop .btn {
    margin: 0;
    border-color: #fff;
}

.shop .btn a {
    color: #fff;
}

.shop .cont_container {
    padding: 100px 0;
    margin: auto;
    text-align: center;
    flex: 2;
}

.shop .cont {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 10px;
}

.shop .cont_container .btn {
    border-color: #000;
    cursor: pointer;
    color: #000;
}

.shop .cont2 {
    display: none;
}

.shop .cont .info_box {
    margin-top: 15px;
    text-align: center;
}


.shop .cont .product_cont {
    width: 17.7083vw;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: solid 2px transparent;
}

.shop .cont .product_cont .img_box {
    width: 13.6250vw;
    min-width: 200px;
    height: 340px;
}

.shop .cont .product_cont:hover {
    border: solid 2px #0070CD;
}

.shop .cont .product_cont .img_box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.news {
    background-color: #151515;
    position: relative;
    width: 100%;
}

.news h2 {
    margin-top: 0;
    margin-bottom: 50px;
    color: #fff;
    padding-top: 40px;
    padding-left: 60px;
}

.news>ul {
    max-width: 1920px;
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.news ul li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.news ul li .box {
    width: 18vw;
    overflow: hidden;
}

.news ul li .box img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.news ul li:hover .box img {
    transform: scale(1.1);
}

.news ul li .n_txt {
    margin-top: 15px;
    width: 18vw;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    z-index: 999;
}

footer {
    padding-top: 250px;
    background-color: #151515;
    color: #fff;
    padding-bottom: 100px;
    margin: auto;
    position: relative;

}

.foot {
    max-width: 1920px;
    width: 100%;
    padding: 0 120px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.info {
    font-size: 14px;
}

.info ul:nth-child(2) {
    margin-top: 50px;
}

.menu {
    font-size: 22px;
    display: flex;
    gap: 70px;


}

.menu ul li {
    cursor: pointer;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    filter: brightness(0.8);
}

.menu ul li:hover {
    filter: brightness(1);
}

.menu ul li::before {
    content: "";
    margin-top: 2px;
    margin-right: 15px;
    width: 10px;
    height: 10px;
    background-color: #0070CD;
    border-radius: 50%;
    opacity: 0;
}

.menu ul li:hover::before {
    opacity: 1;
}

.menu ul li img {
    width: 60px;
    height: 60px;
    opacity: 0;
}

.sns {
    width: 85%;
    margin: auto;
    font-size: 14px;
    font-weight: 900;
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sns .site span {
    margin-left: 10px;
    vertical-align: bottom;
    display: inline-block;
}

@media screen and (max-width: 1400px) {
    h2 {
        font-size: 4.6875rem;
    }

    .btn {
        padding: 14px 70px;
    }

    header .gnb_warp>li {
        padding: 20px 45px;
    }

    .shop .cont_container {
        padding: 80px 0;
        flex: 2.5;
    }

    .shop .shop_name {
        padding-left: 30px;
    }
}

@media screen and (max-width: 1024px) {
    .intro {
        padding-top: 140px;
        height: 60vh;
    }

    .intro .big_txt {
        padding-left: 25px;
    }

    header .gnb_warp {
        display: none;
    }

    h2 {
        font-size: 3.125rem;
    }

    header .menu_wrap ul li a {
        font-size: 30px;
    }

    .btn {
        padding: 14px 50px;
    }

    .intro div .trapezoid {
        height: 90px;
    }

    .intro span {
        font-size: 128px;
    }

    .get_it .container {
        font-size: 5rem;
    }

    .intro div .trapezoid {
        display: none;
    }

    .part.part3.big_txt .trapezoid {
        display: none;
    }

    .trapezoid .video_container {
        display: none;
    }

    .intro .part {
        justify-content: flex-start;
    }

    .get_it .container {
        font-size: 7.5rem
    }

    .shop {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .shop .shop_name {
        flex: none;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        position: relative;
        width: 100vw;
        height: 40vh;
        color: #fff;
        background: url(./images/back03.jpg), rgba(0, 0, 0, 0.2);
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        transition: all 0.5s linear;
    }

    .shop .cont_container {
        width: 100%;
        padding: 40px 0;
        flex: none;
    }

    .shop .cont .product_cont {
        width: 44.4141vw;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
    }

    .ourbusiness {
        padding: 0 40px;
    }

    .news>ul {
        max-width: 1024px;
        width: 100%;
        padding: 0 30px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .news>ul>li {
        flex-basis: 50%;
    }

    .news>ul>li:nth-child(1),
    .news>ul>li:nth-child(2) {
        margin-bottom: 15px;
    }

    .news ul li .box {
        width: 30vw;
    }

    .news ul li .n_txt {
        width: 30vw;
    }

    .foot {
        padding: 0 50px;
    }
}

@media screen and (max-width: 768px) {
    h2 {
        font-size: 2.7rem;
    }

    .arrow {
        display: none;
    }

    .intro .part {
        height: 110px;
        align-items: center;
    }

    .intro {
        padding-top: 100px;
        height: 50vh;
    }

    .intro .part.big_txt {
        padding-left: 30px;
    }

    .club .swiper {
        padding-top: 40px;
    }

    .intro span {
        font-size: 100px;
    }


    .get_it {
        padding-top: 60px;
        height: 53vh;
    }

    .get_it .container .letter5,
    .get_it .container .letter8 {
        padding-left: 30px;
    }

    .get_it .container {
        font-size: 4.6rem;
    }

    .get_it p {
        margin: auto;
        text-align: center;
        width: 70vw;
    }

    .club .roller .rolling .img_box {
        width: 160px;
        height: 70px;
    }

    .poster {
        display: none;
    }

    .shop .cont .product_cont .img_box {
        width: 24vw;
        min-width: 175px;
        height: 310px;
    }

    .menu ul{
        margin-left: -25px;
    }

    .line_b {
        display: block;
    }

    .foot {
        max-width: 768px;
        width: 100%;
        padding: 0 60px;
        box-sizing: border-box;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    .foot .info {
        flex-basis: 100%;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }

    .info ul:nth-child(2) {
        margin-top: 0;
    }


    .foot .menu {
        flex-basis: 100%;
        font-size: 18px;
        display: flex;
        justify-content: space-between;
    }

    .club {
        margin-top: 50px;
    }

    .menu {
        font-size: 18px;
        display: flex;
        gap: 15px;
    }
}

@media screen and (max-width: 480px) {
    header .logo_box {
        width: 70px;
        height: 70px;
    }

    .intro .part.big_txt {
        padding-left: 12px;
    }

    .intro span {
        font-size: 77px;
    }

    .get_it .container {
        font-size: 3.3rem;
    }

    .get_it .container .letter5,
    .get_it .container .letter8 {
        padding-left: 20px;
    }


    .shop .cont .product_cont {
        box-sizing: border-box;
    }

    .shop .cont .product_cont {
        width: 44.4141vw;
        height: 300px;
    }

    .shop .cont .product_cont .img_box {
        width: 20vw;
        min-width: 145px;
        height: 250px;
    }

    .news ul li .box {
        max-width: 300px;
        width: 100%;
        overflow: hidden;
    }

}
