@charset "UTF-8";

html {
    scroll-behavior: smooth;
}

img {
    width: 10%;
}

body {
    position: relative;
    margin: 0;
    font-family: 'Noto Sans KR';
    word-break: keep-all;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

/* 커서 */
.custom-cursor {
    width: 130px;
    height: 130px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    pointer-events: none;
    opacity: 0;
    background-color: #000;
    /*사용자 수정*/
    transition: none;
    mix-blend-mode: screen;
    /*사용자 수정*/
    pointer-events: none;
    border-radius: 50%;
    transform: scale(1);
    z-index: 999;
}

.custom-cursor-icon {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #0070CD;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    /*사용자 수정*/
    transition: all .2s ease;
    transform-origin: 50% 50%
}

.ourbusiness,
.youtube,
.news,
.inner_club {
    cursor: none;
}

.custom-cursor.custom_cursor_visible {
    opacity: 1
}

.custom-cursor.custom_cursor_hidden {
    opacity: 0
}

@media (pointer:none),
(pointer:coarse) {

    #custom_cursor,
    #custom_cursor .custom-cursor-icon {
        display: none !important;
        visibility: hidden;
        opacity: 0
    }

    * {
        cursor: auto !important
    }
}



.custom-cursor.custom_cursor_hover .custom-cursor-icon {
    transform: scale(1.6)
}




.btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn .txt {
    display: inline-block;
    width: 220px;
    height: 40px;
}

.btn .txt a {
    display: inline-block;
    border: solid 1px #000000;
    line-height: 40px;
    border-radius: 20px;
    text-align: center;
    color: #000000;
    font-size: 17px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.btn .txt a:after {
    content: "";
    position: absolute;
    bottom: auto;
    border-radius: 0 0 75% 75%/0 0 50% 50%;
    background: #0070CD;
    width: 100%;
    left: 0;
    height: 0;
    transition: 0.5s;
    z-index: -1;
    top: 0;
}

.btn .txt a:hover:after {
    transition: height 0.5s ease-in-out;
    height: 150%;
}


.btn img {
    width: 70px;
    height: 70px;
}

.c_blue {
    color: #00396F;
}

/* header */
header {
    font-size: 15px;
    margin-top: 20px;
}

header .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
}

header .head .logo {
    width: 80px;
    object-fit: contain;
}

header .head ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

header .head ul li .lang {
    width: 84px;
    height: 33px;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

header .head ul li .lang li:nth-child(1) {
    position: relative;
}

header .head ul li .lang li:nth-child(1)::after {
    content: "";
    position: absolute;
    left: 150%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.5);
}

header .head .menu {
    width: 30px;
    object-fit: contain;
}

/* intro */
main .intro {
    text-align: center;
    margin: auto;
    position: relative;
    padding-bottom: 100px;
}

main .contain {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

main .contain .inner {
    max-width: 1780px;
    font-size: 168px;
    font-weight: 900;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    line-height: 1.2;

}

main .contain .parallelogram {
    margin-top: 20px;
}

main .contain .parallelogram1 {
    display: inline-block;
    width: 838px;
    height: 120px;
    background-color: #D9D9D9;
    transform: skew(-30deg);
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
}

main .contain .parallelogram1:after {
    content: "";
    width: 152px;
    height: 100%;
    background-color: #0070CD;
    position: absolute;
    top: 50%;
    right: -10%;
    transform: translate(-50%, -50%);
}

main .contain .parallelogram1 video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
}

main .contain .parallelogram2 {
    display: inline-block;
    width: 1100px;
    height: 120px;
    background-color: #D9D9D9;
    margin-left: 40px;
    margin-right: 30px;
    position: relative;
}

main .contain .parallelogram2::before {
    content: "";
    width: 67px;
    height: 100%;
    background-color: #EB0028;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%) skew(-30deg);
    z-index: 9;
}

main .contain .parallelogram2 video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

main .contain .parallelogram3 {
    display: inline-block;
    width: 650px;
    height: 120px;
    background-color: #D9D9D9;
    margin-left: -250px;
    margin-right: 30px;
    position: relative;
}

main .contain .parallelogram3::before {
    content: "";
    width: 95px;
    height: 100%;
    background-color: #FFC627;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%) skew(-30deg);
    z-index: 9;
}

main .contain .parallelogram3 video {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center bottom;
}

main .contain .intro_txt {
    font-size: 17px;
    text-align: left;
    display: inline-block;
    position: absolute;
    top: 79%;
    right: 8%;
    width: 290px;
    line-height: 1.5;
}

.contain video {
    pointer-events: none;
}

/* 화살표 */
main .arrow1 {
    width: 320px;
    height: 320px;
    border: 1px solid #000000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 15%;
    bottom: -35%
}


/* test */
.ani {
    height: 100px;
    padding: 0px 80px;
    margin-bottom: 80px;
}

.animation {
    padding: 0 50px;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animation div {
    font-size: 135px;
    font-weight: 700;
    margin-bottom: 10px;
    opacity: 0;
    animation: fadeIn 3s ease-in-out forwards;
}


.e1 {
    animation-delay: 2s;
}

.t1 {
    animation-delay: 4s;
}

.s {
    animation-delay: 6s;
    margin-right: 40px;
}

.g {
    animation-delay: 7s;
}

.e {
    animation-delay: 7s;
}

.t {
    animation-delay: 8s;
    margin-right: 40px;
}

.i {
    animation-delay: 8s;
}

.t2 {
    animation-delay: 8s;
}

.T:nth-of-type(2) {
    animation-delay: 4s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}


.pade {
    margin: auto;
}

.pade .sub {
    width: 600px;
    margin: auto;
    text-align: center;
    line-height: 1.4;
}

.pade .btn {
    margin-left: 55px;
}

.inner_club {
    margin-top: 100px;
    background-color: #151515;
    height: 1200px;
}

.rolling_container {
    width: 100%;
    height: 90px;
    display: flex;
    overflow: hidden;
    /* 이미지를 넘어가는 부분을 숨깁니다. */
    border-bottom: solid 1px #fff;
}

/* 슬라이드 쇼 이미지 롤링 애니메이션 스타일링 */
.rolling {
    display: flex;
    align-items: center;
    gap: 80px;
    animation: roll 60s linear infinite;
    /* 이미지 롤링 애니메이션 적용 */

}

/* 각 이미지 스타일링 */
/* CSS 코드 */
.rolling img {
    height: 40px;
    object-fit: contain;
}

/* 이미지 롤링 애니메이션 */
@keyframes roll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-100% * 7));
    }
}


.inner_club {
    position: relative;
    width: 100%;
}

.inner_club .inner_cont {
    position: relative;
}

.inner_cont .cont_box {
    margin-top: 180px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.inner_club .inner_cont h2 {

    font-size: 90px;
    font-weight: 900;
    color: #fff;

}

.inner_club .inner_cont .btn .txt a {
    border: solid 1px #fff;
    color: #fff;
}

.inner_club .inner_cont .btn .txt a:after {
    background: #00396F;
}

.inner_club .txt_tt {
    font-size: 15px;
    color: #fff;
    width: 400px;
    padding-left: 220px;
}



.inner_club .inner_cont .btn img {
    width: 70px;
    height: 70px;
    transform: rotate(-45deg);
}

.inner_cont .swiper {
    width: 100%;
    height: 100%;

}

.inner_cont .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner_cont .swiper-slide img {
    display: block;
    width: 50%;
    object-fit: cover;
}

.text_deco {
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 20%;
    z-index: 999;
    padding: 0 15px;
    box-sizing: border-box;

}

.text_deco h2 {
    font-size: 90px;
    font-weight: 900;
}

.text_deco h2:nth-child(1),
.text_deco h2:nth-child(2) {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}

/* ourbusiness */
.ourbusiness {
    margin-top: 125px;

}

.ourbusiness h2 {
    margin-top: 125px;
    font-size: 90px;
    font-weight: 900;
    border-bottom: solid 1px #000000;
    width: 80%;
    margin: auto;
    padding-bottom: 30px;
}

.ourbusiness ul {
    width: 80%;
    margin: auto;
}

.ourbusiness ul li {
    height: 220px;
    line-height: 220px;
    border-bottom: 1px solid #000000;
    font-size: 38px;
    font-weight: 700;
    transition: all .5s ease;
    position: relative;

}

.ourbusiness ul li:hover {
    height: 270px;
}

.ourbusiness ul li:hover p {
    opacity: 1;
}

.ourbusiness ul li .num {
    font-size: 17px;
    margin-right: 30px;
}

.ourbusiness ul li p {
    width: 300px;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    position: absolute;
    top: 66%;
    left: 4%;
    transition: 0.75s;
    opacity: 0;
}

.ourbusiness ul li .poster {
    width: 100%;
    opacity: 0;
    transition: transform .3s, opacity .3s;
    /* transform과 opacity에 대해 transition 적용 */
    position: relative;
    /* 부모 요소 기준으로 위치 조정하기 위해 relative로 설정 */
}

.ourbusiness ul li:hover .poster {
    opacity: 1;
    /* hover 시에 이미지의 opacity를 1로 변경하여 이미지가 나타나도록 함 */
    transform: translateY(-250px) scale(1.2);
    /* 이미지를 위로 20px 이동시키고 1.2배로 확대하여 나타나도록 함 */
}

.ourbusiness ul li .poster img {
    width: 15%;
    position: absolute;
    top: 0;
    opacity: 0;
    transform: scale(0);
    transition: opacity 5s, transform 5s;
    /* 1초 동안 opacity와 transform이 변경될 때 트랜지션 효과 적용 */
}

.ourbusiness ul li:hover .poster img {
    transform: scale(1);
}

.ourbusiness ul li .poster img:nth-child(1) {
    /* 초기에 이미지 숨기기 */
    opacity: 0;
    transition: opacity 1s;
    /* 1초 동안 opacity가 변경될 때 트랜지션 효과 적용 */
}

.ourbusiness ul li:hover .poster img:nth-child(1) {
    /* hover 시 첫 번째 이미지 표시 */
    opacity: 1;
}

.ourbusiness ul li .poster img:nth-child(2) {
    /* 초기에 이미지 숨기기 */
    opacity: 0;
    transition: opacity 3s;
    /* 1초 동안 opacity가 변경될 때 트랜지션 효과 적용 */
}

.ourbusiness ul li:hover .poster img:nth-child(2) {
    /* hover 시 두 번째 이미지 표시 */
    opacity: 1;
}

.ourbusiness ul .item1 .poster img:nth-child(1) {
    top: -40%;
    right: 20%;
    transform: rotate(-15deg);
}

.ourbusiness ul .item1 .poster img:nth-child(2) {
    top: 25%;
    right: 7%;
    border-radius: 50%;
}

.ourbusiness ul .item2 .poster img:nth-child(1) {
    width: 25%;
    top: 10%;
    right: 20%;
    transform: rotate(-15deg);
}

.ourbusiness ul .item2 .poster img:nth-child(2) {

    top: 5%;
    right: 5%;
    transform: rotate(15deg);
}

.ourbusiness ul .item3 .poster img:nth-child(1) {
    top: 10%;
    right: 23%;
    z-index: 99;
}

.ourbusiness ul .item3 .poster img:nth-child(2) {
    width: 20%;
    top: 5%;
    right: 5%;
    transform: rotate(-25deg);
}

.ourbusiness ul .item4 .poster img:nth-child(1) {
    width: 30%;
    top: 5%;
    right: 20%;
    transform: rotate(15deg);
    border-radius: 50%;
    z-index: 99;
}

.ourbusiness ul .item4 .poster img:nth-child(2) {
    width: 25%;
    top: 25%;
    right: 5%;
    transform: rotate(-10deg);
    border-radius: 50%;
}

.youtube {
    margin-top: 300px;
    position: relative;
    background-color: #151515;
    height: 1100px;
    overflow: hidden;
    position: relative;
}

.youtube .youtube_name {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.youtube h2 {
    margin-left: 225px;
    padding-top: 150px;
    font-size: 90px;
    font-weight: 900;
    margin-bottom: 70px;
    color: #fff;
}

.youtube .btn .txt a {
    border: solid 1px #fff;
    color: #fff;
}

.youtube .btn .txt a:after {
    background: #00396F;
}

.youtube .btn img {

    transform: rotate(-45deg);
}

.play {
    display: flex;
    justify-content: center;
    align-items: last baseline;
    position: relative;
    padding: 0 20px;

}

.play .swiper {
    width: 55.00vw;
    /* Adjusted width to 90% of the original */
    height: 0;
    /* Adjusted to accommodate the aspect ratio */
    padding-bottom: 31.38%;
    /* Adjusted to maintain the aspect ratio */
    position: relative;
}

.play .mySwiper .swiper-wrapper .swiper-slide {
    position: relative;
    padding-bottom: 56.25%;
    height: 0px;
    overflow: hidden;
}

.play .mySwiper .swiper-wrapper .swiper-slide iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.play .firstswiper {
    margin-left: 225px;
}

.play .secondswiper {
    width: 24.82vw;
    /* Adjusted width to vw */
    height: 0;
    /* Adjusted to accommodate the aspect ratio */
    padding-bottom: 13.98%;
    /* Maintains the aspect ratio */
    position: relative;
}

.swiper-button-prev {
    position: absolute;
    left: 83%;
    color: #fff;
    width: 40px;
    height: 40px;
    top: 47%;
}

.swiper-button-next {
    position: absolute;
    right: 10%;
    color: #fff;
    width: 40px;
    height: 40px;
    top: 47%;

}

.rolled {
    height: 90px;
    line-height: 90px;
    overflow: hidden;
    background-color: #0070CD;
}

.roll {
    display: flex;
    animation: scroll 20s linear infinite;
    justify-content: space-between;
}

.roll span {
    display: block;
    font-size: 40px;
    color: #fff;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.shop {
    position: relative;
    width: 100%;
    padding-bottom: 150px;
}

.shop .shop_name {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 90px;
}

.shop h2 {
    font-size: 90px;
    font-weight: 900;
    margin-top: 130px;
}

.shop .btn img {
    transform: rotate(-135deg);
}

.shop .cont {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
}

.shop .cont .info_box {
    margin-top: 15px;
    text-align: center;
}

.shop .cont .info_box .product_name .poppin {
    font-size: 17px;
}

.shop .cont .info_box .product_price .ori_price {
    font-size: 15px;
}

.shop .cont .product_cont {
    width: 340px;
    height: 440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.shop .cont .product_cont .img_box {
    max-width: 300px;
    max-height: 300px;
}

.shop .cont .product_cont .img_box img {
    width: 100%;
    height: 100%;
}

.shop .cont .product_cont:hover {
    background-color: #EB0028;
    color: #fff;
}

.shop .cont .product_cont:nth-child(even):hover {
    background-color: #FFC627;
}

.news {
    background-color: #151515;
    position: relative;
    width: 100%;
}

.news h2 {
    font-size: 90px;
    font-weight: 900;
    margin-bottom: 50px;
    color: #fff;
    padding: 70px 110px 10px;
}

.news ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0;

}

.news ul li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.news ul li .box {
    max-width: 368px;
    overflow: hidden;
}

.news ul li .box img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.news ul li:hover .box img {
    transform: scale(1.1);
}

.news ul li .n_txt {
    margin-top: 15px;
    width: 370px;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    z-index: 999;
}


/* footer */
footer {
    padding-top: 250px;
    background-color: #151515;
    color: #fff;
    padding-bottom: 100px;
    position: relative;

}

.foot {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-left: 165px;
}

.info {
    font-size: 14px;
}

.info ul:nth-child(2) {
    margin-top: 50px;
}

.menu {
    font-size: 22px;
    display: flex;
    gap: 70px;


}

.menu ul li {
    cursor: pointer;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    filter: brightness(0.8);
}

.menu ul li:hover {
    filter: brightness(1);
}

.menu ul li::before {
    content: "";
    margin-top: 2px;
    margin-right: 15px;
    width: 10px;
    height: 10px;
    background-color: #0070CD;
    border-radius: 50%;
    opacity: 0;
}

.menu ul li:hover::before {
    opacity: 1;
}

.menu ul li img {
    width: 60px;
    height: 60px;
    opacity: 0;
}

footer svg {
    position: absolute;
    right: 10%;
    top: 30%;
}

.sns {
    width: 85%;
    margin: auto;
    font-size: 14px;
    font-weight: 900;
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sns .site span {
    margin-left: 10px;
    vertical-align: bottom;
    display: inline-block;
}

@media screen and (max-width: 1400px) {
    main .contain .parallelogram3 {
        width: 620px;
        margin-left: 0;
    }

    main .contain .parallelogram3::before {
        width: 75px;
    }

    main .contain .intro_txt {
        top: 98%;
    }

    .animation div {
        font-size: 100px;
    }

    .text_deco h2 {
        font-size: 70px;
    }

    .inner_club .txt_tt {
        width: 300px;
        padding-left: 100px;
    }

}

@media screen and (max-width: 1024px) {
    main .contain .inner {
        max-width: 1024px;
        font-size: 148px;
    }

    main .contain .parallelogram1 {
        width: 628px;
        height: 110px;
    }

    main .contain .parallelogram1:after {
        width: 82px;
    }

    main .contain .parallelogram2 {
        width: 880px;
        height: 110px;
    }

    main .contain .parallelogram3 {
        width: 320px;
        height: 110px;
        margin-left: 0;
    }

    .inner_club {
        height: 800px;
    }

    .inner_club .inner_cont h2 {
        font-size: 70px;
    }

    .inner_club .txt_tt {
        padding-left: 40px;
    }

    .inner_cont .swiper-slide img {
        width: 40%;
    }

    .text_deco h2 {
        font-size: 50px;
    }

    .ourbusiness h2 {
        margin-top: 105px;
        font-size: 70px;
    }

    .youtube {
        margin-top: 150px;
        height: 880px;
    }

    .youtube h2 {
        margin-left: 185px;
        padding-top: 100px;
        font-size: 70px;
        margin-bottom: 70px;
    }

    .play .firstswiper {
        margin-left: 0px;
    }

    .play .swiper {
        width: 110.00vw;
        height: auto;
        padding-bottom: 31.38%;
    }

    .secondswiper,
    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }

    .shop .shop_name {
        padding: 0 70px;
    }

    .shop h2 {
        font-size: 70px;
        margin-top: 100px;
    }

    .shop .cont {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
    }

    .shop .cont .product_cont {
        width: 280px;
        height: 370px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .shop .cont .product_cont .img_box {
        max-width: 240px;
        max-height: 260px;
    }

    .news h2 {
        font-size: 70px;
    }

    .news ul li .n_txt {
        margin-top: 10px;
        font-size: 18px;
    }

    .foot {
        width: 65%;
        display: flex;
        justify-content: space-around;
        margin-left: 75px;
    }
}

@media screen and(max-width:768px) {
    .custom-cursor {
        display: none
    }
}

@media screen and(max-width:480px) {
    main .intro {
        height: 50vh;
    }
}