@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');/* regular-400, medium-500, semibold-600, bold-700 */ 

.intro .big_txt {
    position: relative;
    font-size: 10.5rem;
    font-weight: 700;
    line-height: 1.2;
    color: rgba(0, 0, 0, 0.468)
}

.intro .big_txt .b_txt {
    position: relative;
    width: max-content;
    background: linear-gradient(to right, #000, #000) no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 0%;
    transition: background-size cubic-bezier(.1,.5,.5,1) 0.5s
}