@charset "utf-8";

/* 스와이퍼 */
    html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      background: #eee;
      margin: 0;
      padding: 0;
    }

    
header .head{
    display: none;
}
header{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0; left: 0; right: 0;
    margin: auto;
    z-index: 999;
}
header .head_line{
    height: 100%;
    line-height: 80px;
    display: flex;
    flex-direction: row;
    z-index: 999;
   
    justify-content: space-around;
    align-items: center;
  
}
header .head_line ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap:40px;
   
}
header .head_line img{
    width: 120px;

}
header .head_line a{
    text-decoration: none;
    font-weight: 500;
    color: white;
}

header .head_line ul li:hover a{
  color: #444444;
}
header .head_line ul li:nth-child(6){
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8E8E8E;
}
header .head_line ul li:nth-child(6) span{
    margin-left: 8px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}
main .subject{
  margin-bottom: 60px;
}

/*
main .subject .txt h1{
    text-align: left;
    font-size: 64px;
    margin-bottom: 20px;
   
}
main .subject .txt h3{
    text-align: left;
    margin: 0;
    width: 300px;
    font-size: 24px;
}
*/
.swiper {
  width: 100%;
  z-index: -9999;
  height: 50vw;
  object-fit: cover;
  }

.swiper-slide {
  text-align: center;
  font-size: 20px;
  background: #979797;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
  }

  .mySwiper .swiper-wrapper .swiper-slide .txt_box h2{
    font-size: 6rem;
    text-align: left;
    margin-bottom: 20px;
  }

  .mySwiper .swiper-wrapper .swiper-slide .txt_box p{
    font-size:  1.5rem;
    text-align: left;
  }

  main .our-business ul li h1{
    width: 16.4063vw; /*2*10px*/
    font-weight: 700;
    font-size: 4.5313vw;/*58px*/
  
    line-height: 1.3021; /*10px*/
   
  }
  main .our-business ul li h3{
    font-size: 2.5vw;/*32px*/
  }
  main .our-business ul li h3 span{
    display: block;
  }
  main .our-business ul li .txt{
    margin: 0 0 0 6.5104vw;/*50px*/
    width: 60%;
  }
  
  main .our-business ul li .txt h4{
    margin: auto;
    margin-bottom: 0;
    margin-left: 4.2969vw;/*55px*/
    font-weight: 500;
    font-size: 1.2500vw;/*16*/
    color: #444444;
  }
  main .our-business ul li .txt p{
    margin-left: 4.2969vw;/*55px*/
    font-size: 1.4063vw;/*18*/
  }
  main .our-business .line2 ul{
    margin-top: 39.0625vw; /*300px*/
  }
  main .our-business .line2 ul li:nth-child(1){
    margin: auto;
    margin-bottom: 16.9271vw;/*130px*/
  }
  main .our-business .line2 ul li:nth-child(1) .txt p span{
   display: inline;
  }
  main .our-business .line2 ul li:nth-child(2) .txt p{
    width: 33.8542vw;
  }
  main .our-business ul li:nth-child(8) .txt p span{
    display: block;
  }
  main .our-business ul li:nth-child(10) .txt p span{
    display: block;
  }
  
  main .our-business ul li img{
    width: 39.0625vw; /*300x*/
    object-fit: cover;
    border-radius: 20px;
    display: block;
    margin: auto;
  }
    
  main .story {
    margin: 15.6250vw auto;/*120px*/
    position: relative;
    }
  main .story h1{
    font-size: 4.5313vw;/*58px*/
    margin: 7.1429vw; /*20px*/
    }
  
  main .story img{
    width: 15.6250vw;/*200*/
  }  

  main .summit_life{
    width: 85%; /*670px;*/
    height: 27.3438vw; /*350px*/
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 50px;

    margin: 23.4375vw auto;/*300*/

  }
 
  main .summit_life .txt h1{
    margin: 0; /*20px*/
    margin-bottom: 0.7813vw;/*7\10px*/
    
    text-align: left;
    color: white;
    margin-left: 5.4688vw;/*70px;*/
    font-size: 3.7500vw;/*48px*/
    

  }
  main .summit_life .txt p{
    width: 31.2500vw; /*400*/
    text-align: left;
    color: white;
    margin-bottom: 3.1250vw; /*40px*/
    font-size: 1.7188vw; /*22x*/
    margin-left: 5.4688vw;/*70px;*/
  }
  main .summit_life button{
    background-color: white;
    border: none;
    width: 17.9688vw; /*230px */
    height: 4.2969vw; /*55px*/
    border-radius: 50px;
    margin-left: 5.4688vw;/*70px;*/
    color: #585858;
    font-size: 1.5625vw; /*20x*/
    text-decoration: none;
    font-weight: 700;
    
  }
 
 
  main .news .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
   }
  main .news .title h1{
    font-size: 48px;
    margin-left: 55px;
  }

main .news .title img{
    width: 48px;
    margin-top: 10px;
    margin-right: 70px;
}
main .news{
    margin: 30px;
}
main .news .title h1{
    text-transform: uppercase;
    margin-left: 5.4688vw;/*70px;*/
    font-size: 3.7500vw;/*48px*/
}
main .news ul{
    justify-content:center;
    align-items: center;
}
main .news ul li{
    width: 30.3333%; 
}
main .news ul li p span{
    display: block;
}
main .news ul li:nth-child(3) p span{
  display: inline;
}
main .news ul li p{
    margin: 40px auto 40px;
    font-size: 1.7188vw; /*22x*/
}

main .news ul li .more p{
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 1.7188vw; /*22x*/
}

main .news ul li .more p span{
  margin-left: 15px;
  font-size: 18px; /*16px*/
  font-weight: bold;
  background-color: #D9D9D9;
  width:  26px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .future{
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: centers;
    height: 29.6875vw;
}
main .future h1{
    margin: 0;
    text-align: left;
    font-size: 2.5000vw;
    line-height: 3.9063vw /*50px;*/
}
main .future button{
  background-color: white;
  border: none;
  width: 17.9688vw; /*230px */
  height: 4.2969vw; /*55px*/
  border-radius: 50px;
  color: #585858;
  font-size: 1.5625vw; /*20x*/

  font-weight: 700;

}

main .future h1 span{
    display: block;
}
footer .connection{
    display: none;
}
footer .guide{
    display: none;
}
footer .guide_line{
    display: block;
    margin: 100px;
}

footer .guide_line ul>li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: block;
    padding-bottom: 40px;
   
}
footer .guide_line ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    
}

footer .guide_line ul li ul{
    display: flex;
    flex-direction: column;
    gap:20px;
}

footer .foot button{
  border: solid 1px black;
  background-color: transparent;
  
  width: 19.5313vw; /*250px*/
  height: 3.9063vw; /*50*/
  font-size: 1.375rem; /*28px*/
  transition: 1s;
}
footer .foot button:hover {
  background-color: #585858;
}
footer .foot button:hover a{
  color: white;
}